img {
  max-width: 100%;
}
nav {
  background-color: rgb(44, 62, 80);
}
.fa-start-port {
  color: rgb(44, 62, 80);
}
.avatar-img {
  height: 200px;
}
.jumbo {
  min-height: 300px;
  background-color: rgb(26, 188, 156);
}
.jumbo-content {
  min-height: 100px;
}
.jumbo-content i {
  font-size: 14px;
}
.main-img-top-title {
  min-height: 100px;
}
.main-img-top {
  overflow: hidden;
}
.about {
  height: 700px;
  background-color: rgb(26, 188, 156);
}

.about-content {
  font-size: 22px;
  height: 200px;
}

.btn-download {
  border: 1px solid white;
  color: white;
  height: 40px;
  background-color: transparent;
  border-radius: 10px;
}
.contact {
  height: 500px;
}
.form {
  border: none;
}
.contact-title {
  height: 80px;
}
.btn-send {
  background-color: rgb(26, 188, 156);
  border-radius: 10px;
  color: white;
  width: 80px;
  height: 40px;
  border: none;
  font-size: 20px;
}
.socials {
  height: 500px;
  background-color: rgb(58, 84, 109);
}
input {
  padding: 0;
}
.coopyrights {
  height: 100px;
  background-color: rgb(44, 62, 80);
  border: 2px dashed black;
}
.coopyrights-cont {
  height: 80px;
  border: 2px dashed black;
}
